<!DOCTYPE html>
<html>
      <% include ../partials/head.ejs %>
    <body>
        <div class="openContainer">
          <h1>The Coffee Spot</h1>
          <!-- =======Modal======== -->
          <!-- open button  -->
          <button id="openModal">OUR STORY</button>
          <div id="modal" class="hidden">
              <div id="modal-textbox">
              <!--close button  -->
              <a id="close" href="#">Close</a>
              <!-- MODAL content  -->
              <h3>THE COFFEE SPOT</h3>
                <p>The number 512 is significant to The Coffee Spot. It honors the Austin area code and is a secret shoutout to my high school classmates of the Whitney Young High School division of 512! (Side Note: Young is also the alma mater of the Former First Lady, Michelle Obama.) Now back to our story, we opened our doors on May 12, 2015 offering a spot to enjoy quality coffee in a comfy neighborhood setting. Our website features mugs designed by local artists from high schools across the area. Thank you for your continued support of The Coffee Spot and Austin high school students!</p>
            </div>
          </div>
          <!-- SEARCH Button  -->
           <form action="/coffee/search/" method="POST">
             <label>SEARCH</label>
             <input type="text" name="search">
             <input type="submit">
           </form>
           <img src="/../images/devin-avery-600578-unsplash.jpg" class=introPic alt="coffee">
           <!-- Create New -->
           <nav>
              <a href="/coffee/new">Create a New Item</a>
           </nav>
        </div>
        <div class="mainContainer">
          <div class="container">
            <!--PRODUCTS  -->
            <div class="content">
               <ul>
                   <% for(let i = 0; i < items.length; i++){ %>
                   <li>
                     <a href="/coffee/<%=items[i].id; %>">
                     <%=items[i].name%>
                     </a><br>
                     <img class="contentPic" src="<%=items[i].img%>" alt="you can't see me"><br>
                     Price: <%=items[i].price%><br>
                   <% } %>
                   </li>
            </div>
        </div>
      </div>
    </body>
    <footer class="footer">
      <!-- registration container -->
      <div class="registration">
        <p>SIGN UP FOR THE COFFEE SPOT NEWSLETTER!</p>
        <!-- START FORM -->
        <form action="/coffee/" method="POST">
          <!-- fieldset for account info -->
          <fieldset class="account-info">
            <!-- legend for account info -->
            <legend>ACCOUNT INFORMATION</legend>
              <!-- username -->
              <label>NAME</label>
              <input type="text" placeholder="Cori C."/>
              <!-- password -->
              <label>PASSWORD</label>
              <input type="password" id="password" placeholder="make it a good one"/>
              <!-- email -->
              <label>E-MAIL</label>
              <input type="email" id="email" placeholder="cori.c@cofffee.com"/>
          </fieldset>
          <!-- submit button -->
          <input type="submit" value="Register">
          <!-- clear button -->
          <input type="reset" value="Clear">
        </form>
      </div>
      <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Menu</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Location</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Hours of Operation</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Events</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Join Our Team</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Contact Us</a><br>
      </nav>
        <!-- Add font awesome icons -->
      <nav>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-linkedin"></a>
      </nav>
      <h6>Designed by Cori C. 2019</h6>
    </footer>
</html>
