<!DOCTYPE html>
<html>
        <% include ../partials/head.ejs %>
    <body>
        <h1>New Coffee Stuff</h1>
        <form action="/coffee" method="POST">
          Name: <input type="text" name="name" value=""/><br/>
          Description: <input type="text" name="description" value="" /><br/>
          Image: <input type="src" alt="you can't see me" name="image" value=""/><br/>
          Price: <input type="number" name="price" value=""/><br/>
          Quantity: <input type="number" name="qty" value=""/><br/>
          <input type="submit" name="" value="Create Item"/>
        </form>
        <nav>
          <a href="/coffee/">Back to Store</a>
        </nav>
        <!-- Carousel -->
        <div class="showCarousel-container">
          <!-- previous button -->
           <div class="carousel-button previous">
             <!-- from linearicons icon font -->
             <span class="lnr lnr-chevron-left"></span>
           </div>
           <!-- images -->
           <div class="carousel-images">
             <img src="/../images/nathan-dumlao-463043-unsplash.jpg" alt="coffee you cannot see">
             <img src="/../images/nathan-dumlao-566571-unsplash.jpg" alt="coffee you cannot see">
             <img src="/../images/nathan-dumlao-608718-unsplash.jpg" alt="coffee you cannot see">
             <img src="/../images/nathan-dumlao-714163-unsplash.jpg" alt="coffee you cannot see">
           </div>
           <!-- next button -->
           <div class="carousel-button next">
             <!-- from linearicons icon font -->
             <span class="lnr lnr-chevron-right"></span>
           </div>
         </div>
    </body>
    <footer class="footer">
      <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" id="profile-tab" data-toggle="pill" href="#menu" role="tab" aria-controls="menu" aria-selected="true">Menu</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Location</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Hours of Operation</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Events</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Join Our Team</a>
        <a class="flex-sm-fill text-sm-center nav-link" text-sm-center nav-link href="#">Contact Us</a><br>
      </nav>
        <!-- Add font awesome icons -->
      <nav class="d-flex justify-content-center">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
        <a href="#" class="fa fa-linkedin"></a>
      </nav>
      <h8>Designed by Cori C. 2019</h8>
    </footer>
</html>
