<!DOCTYPE html>
<html>
        <% include ../partials/head.ejs %>
    <body>
        <h1>New Coffee Stuff</h1>
        <form action="/coffee" method="POST">
          Name: <input type="text" name="name" value=""/><br/>
          Description: <input type="text" name="description" value="" /><br/>
          Image: <input type="src" alt="you can't see me" name="image" value=""/><br/>
          Price: <input type="number" name="price" value=""/><br/>
          Quantity: <input type="number" name="qty" value=""/><br/>
          <input type="submit" name="" value="Create Item"/>
        </form>
        <nav>
          <a href="/coffee/">Back to Store</a>
        </nav>
    </body>
    <footer>
      <a href="#">Menu |</a>
      <a href="#">Location |</a>
      <a href="#">Hours of Operation |</a>
      <a href="#">Events |</a>
      <a href="#">Join Our Team |</a>
      <a href="#">Contact Us</a><br>
      <!-- Add font awesome icons -->
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <h4>Designed by Cori C. 2019</h4>
    </footer>
</html>
