body {
  background-color: #355C7D;
}

.openContainer {
  background-color: #ccc;
  padding-left: 10px;
}

h1 {
  font-family: 'Faster One', cursive;
  text-align: center;
  font-size: 8vw;
  color: #6C5B7B;
}

#openModal {
  width: 20%;
  height: 50px;
  box-shadow: 2px 2px #6C5B7B;
  font-family: 'Chewy', cursive;;
  font-size: 2vw;
  text-align: center;
  color: whitesmoke;
  border: 0px;
  transition: 0.2s ease-in-out;
}

#openModal:hover {
  cursor: pointer;
  text-align: center;
  background: #C06C84;
  box-shadow: 2px 2px #355C7D;
}

.row {
  width: 90%;
  background-color: #6C5B7B;
  padding: 10px;
  margin: auto;
}
li {
  list-style: none;
  border-style: solid;
  border-width: thin;
  border-color: #355C7D;
  border-radius: 25px;
  background-color: #ccc;
  padding: 50px 100px;
  box-sizing: border-box;
  font-family:'Chewy', cursive;
  color: #355C7D;
  font-size: 2vw;
  text-align: center;
}

.showProduct {
  text-align: center;
  /* align-content: center; */
  width: 99%;
  display: block;
}

.showList {
  list-style: none;
  border-style: solid;
  border-width: thin;
  border-color: #355C7D;
  border-radius: 25px;
  background-color: #ccc;
  padding: 50px 100px;
  box-sizing: border-box;
  font-family:'Chewy', cursive;
  color: #355C7D;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  width: 60%;
}
/* #listedItems {
  background-color: gray;
} */

.contentPic {
  width: 50%;
}

.introPic {
  width: 25%;
}

img {
  width: 80%;
}
/* ======= CAROUSEL SECTION ======== */
.showCarousel-container{
  width: 50%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: auto;
  align-self: auto;
  padding: 25px;
}
.carousel-images {
  width: 75%;
  background: #C06C84;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px #6C5B7B;
}
.carousel-images img {
  width: 100%;
  border-radius: 10px;
  display: none;
}
.carousel-images img:first-of-type {
  display: block;
}
.carousel-button {
  align-self: center;
  background: #6C5B7B;
  color: #888;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px #C06C84;
}

.carousel-button:hover {
  cursor: pointer;
  background: #C06C84;
  box-shadow: 1px 1px #6C5B7B;
  color: white;
}

/*====FOOTER====  */
.footer {
  background-color: #ccc;
}

/* .registration {
  width: 98%;
  text-align: center;
} */

fieldset {
  border: 1px solid gray;
  padding: 20px;
  margin: 20px 20px;
  text-align: center;
}
legend {
  padding: 0px 10px;
  font-family: 'Chewy', cursive;';
  font-weight: 500;
  color: #355C7D;
  text-align: center;
}
label {
  font-family: 'Chewy', cursive;';
  font-weight: 200;
  color: #355C7D;
  display: block;
}

input {
  width: 50%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #355C7D;
}
input:focus {
  outline: 0;
  border: 1px solid #C06C84;
}

input[type="submit"] {
  width: 20%;
  height: 50px;
  background: #C06C84;
  box-shadow: 2px 2px #355C7D;
  font-family: 'Chewy', cursive;';
  font-size: 1.3em;
  color: whitesmoke;
  border: 0px;
  transition: 0.2s ease-in-out;
}
input[type="submit"]:hover {
  cursor: pointer;
  background: #355C7D;
  box-shadow: 2px 2px #6C5B7B;
}

input[type="reset"] {
  width: 20%;
  height: 50px;
  background: #6C5B7B;
  box-shadow: 2px 2px #355C7D;
  font-family: 'Chewy', cursive;';
  font-size: 1.3em;
  color: whitesmoke;
  border: 0px;
  transition: 0.2s ease-in-out;
}
input[type="reset"]:hover {
  cursor: pointer;
  background: #355C7D;
  box-shadow: 2px 2px #C06C84;
}

/* .nav {
  border-style: dotted;
} */

a {
  color: #355C7D;
  font-family: 'Chewy', cursive;
  text-align: center;
}

p {
  color: #355C7D;
  font-family: 'Chewy', cursive;
  text-align: center;
}
/*------social media icons----------- */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}
/* =========Modal========== */
 .hidden {
  display: none;
 }

 #modal {
   background-color: rgba(0,0,0,0.5);
 	 position: fixed;
   align-content: center;
 	 height: 60%;
 	 width: 80%;
 	 z-index: 1;
 	 overflow: auto;
   cursor: pointer;
   color: #355C7D;
 }

 #modal-textbox {
   font-family: 'Chewy', cursive;
   font-size: 2vw;
   color: #C06C84;
   background-color: whitesmoke;
   align-content: center;
   height: 90%;
   width: 90%;
   border-radius: 8px;
   margin: 75px auto;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
   text-overflow: ellipsis;
   padding-left: 10px;
   padding-right: 10px;
 }

 #close {
  color: #F67280;
  font-size: 20px;
  justify-content: right;
 }

h8 {
  font-family: 'Faster One', cursive;
  color: #355C7D;
}

/*=======EDIT PAGE===============*/
.item {
  font-family: 'Chewy', cursive;
  font-size: 2vw;
  background-color: #ccc;
  padding-left: 10px;
  color: #355C7D;
}

/*=======NEW PAGE===============*/

/* ============= web design ==================== */
/* ============================================= */
@media (min-width: 800px) {
  #openModal {
    width: 20%;
    height: 50px;;
    font-size: 1vw;
  }
  h1 {
    font-family: 'Faster One', cursive;
    text-align: center;
    font-size: .5vw;
    color: #6C5B7B;
  }
  li {
  font-size: 1vw;
  }
  .showList {
  font-size: 1vw;
  }
  .item {
    font-size: 1vw;
  }
  .showCarousel-container {
    width: 25%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
  }
}
